@use '../util' as u;


h1,
h2,
h3 {
	font-family: var(--FF-HEADING);
	font-weight: 600;
	line-height: 1.3;
	margin-top: 0;
	color: var(--HEADING-COLOR);
}



p {
	margin-top: 0;
	font-weight: 400;
}

p,a {
	font-family: var(--FF-BODY-CTA);
	font-size: u.rem(14);
}

a,
a:visited,
a:active {
	text-decoration: none;
}
