@use "../global/" as g;
@use "../util/" as u;

/* | ELEMENTS | */
/* | GRID STYLES | */
.grid {
	display: grid;
}

/* | FLEX STYLES | */
.flex {
	display: flex;
}

/* | JUSTIFY CONTENT | */

.--jc-sa {
	justify-content: space-around;
}

.--jc-sb {
	justify-content: space-between;
}

.--jc-sc {
	justify-content: center;
}

.--ai-c {
	align-items: center;
}

.--ji-c {
	justify-items: center;
}

//GRID SECTION
.wrapper {
	display: grid;
	row-gap: u.rem(60);
	text-align: center;
	grid-template-areas:
		"hero"
		"cards"
		"footer";
}

//GENERIC ELEMENT STYLING

button,
.btn {
	border-radius: u.rem(50);
	cursor: pointer;
	box-shadow: var(--PRIMARY-SHADOW);
	font-size: u.rem(14);
}

//HEADER SECTION
.hero {
	grid-area: hero;
	grid-template-areas:
		"header"
		"main";
	background: var(--HERO-BG-COLOR) var(--HERO-BG-IMG);

	&__header {
		//****-THE MAIN LOGO AND CTA****
		grid-area: header;
		padding: u.rem(28) u.rem(15) 0;

		&__logo {
			width: u.rem(106);
			height: u.rem(18);
			// background: #000;
		}

		&__cta {
			padding: u.rem(8) u.rem(25);
			cursor: pointer;
			background-color: #fff;
			color: black;
			transition: opacity 300ms ease-in-out;

			&:hover {
				opacity: 0.5;
				// background-color: red;
			}
		}
	}

	&__main {
		grid-area: main;
		padding: u.rem(100) u.rem(40) u.rem(40);

		&__heading {
			padding-bottom: 39px;
			margin-bottom: 0;
		}

		&__text {
			// font-weight: 700;
			color: var(--HEADING-COLOR);
			padding-bottom: 39px;
			margin-bottom: 0;
			font-size: u.rem(14);
		}

		&__img {
			padding-top: u.rem(56);
		}

		&__cta {
			padding: u.rem(16) u.rem(60);
			background-color: var(--BUTTON-BG);
			color: #fff;
			&:hover {
				opacity: 0.5;
				// background-color: red;
			}
		}
	}
}

.cards {
	//20px L/R Margin
	grid-area: cards;
	margin: auto 20px;

	&__card {
		grid-template-areas:
			"card_img"
			"card_heading"
			"card_text";
		// background-color: red;
		box-shadow: var(--PRIMARY-SHADOW);
		// padding t55 b 65 l/r40
		padding: u.rem(55) u.rem(40) u.rem(65);
		border-radius: u.rem(10);

		&__img {
			grid-area: card_img;
		}

		&__heading {
			grid-area: card_heading;
		}

		&__text {
			grid-area: card_text;
		}

	}
}
