@use "../global/" as g;
@use "../util/" as u;

/* | ELEMENTS | */



//GRID SECTION
.grid {
	display: grid;
	grid-template-columns: 1fr;
	gap: 40px;
	justify-content: center;
	text-align: center;
}

//HEADER SECTION
.header {
	padding: u.rem(16) u.rem(28);
	background: var(--HERO-BG-COLOR) var(--HERO-BG-IMG);
	// height: u.rem(1435);

	&--flex {
		display: flex;
		justify-content: space-between;
		
	}

	&__logo {
		width: u.rem(104);
		// height: u.rem(16);
		// background: #000;
	}
}

//HERO SECTION
.hero {
    padding: 1rem;
	

	&__heading {
		font-size: u.rem(34);
	}
}

//BUTTONS
.btn {
	// border-radius: u.rem(25);
	border-radius: u.rem(25);
    padding: u.rem(24) u.rem(8);
	border: none;
	box-shadow: u.rem(5) 2px 2px hsla(0, 0%, 0%, 0.214);
	font-size: u.rem(7);  

	&--white {
		background-color: #fff;
	}

    &--pink {
        background-color: var(--BUTTON-BG);
    }
}